In [1]:
import pandas as pd
import duckdb

In [6]:
df = pd.read_csv('./county_fips.txt', delimiter='|')
df['STATEFP'] = df['STATEFP'].astype(str)
df['COUNTYFP'] = df['COUNTYFP'].astype(str)
df.head()

  STATE STATEFP COUNTYFP  COUNTYNS      COUNTYNAME CLASSFP FUNCSTAT
0    AL       1        1    161526  Autauga County      H1        A
1    AL       1        3    161527  Baldwin County      H1        A
2    AL       1        5    161528  Barbour County      H1        A
3    AL       1        7    161529     Bibb County      H1        A
4    AL       1        9    161530   Blount County      H1        A

In [7]:
duckdb.sql("SELECT * FROM df limit 10")

┌─────────┬─────────┬──────────┬──────────┬─────────────────┬─────────┬──────────┐
│  STATE  │ STATEFP │ COUNTYFP │ COUNTYNS │   COUNTYNAME    │ CLASSFP │ FUNCSTAT │
│ varchar │ varchar │ varchar  │  int64   │     varchar     │ varchar │ varchar  │
├─────────┼─────────┼──────────┼──────────┼─────────────────┼─────────┼──────────┤
│ AL      │ 1       │ 1        │   161526 │ Autauga County  │ H1      │ A        │
│ AL      │ 1       │ 3        │   161527 │ Baldwin County  │ H1      │ A        │
│ AL      │ 1       │ 5        │   161528 │ Barbour County  │ H1      │ A        │
│ AL      │ 1       │ 7        │   161529 │ Bibb County     │ H1      │ A        │
│ AL      │ 1       │ 9        │   161530 │ Blount County   │ H1      │ A        │
│ AL      │ 1       │ 11       │   161531 │ Bullock County  │ H1      │ A        │
│ AL      │ 1       │ 13       │   161532 │ Butler County   │ H1      │ A        │
│ AL      │ 1       │ 15       │   161533 │ Calhoun County  │ H1      │ A        │
│ AL      │ 1       │ 17       │   161534 │ Chambers County │ H1      │ A        │
│ AL      │ 1       │ 19       │   161535 │ Cherokee County │ H1      │ A        │
├─────────┴─────────┴──────────┴──────────┴─────────────────┴─────────┴──────────┤
│ 10 rows                                                              7 columns │
└────────────────────────────────────────────────────────────────────────────────┘

In [4]:
# count of rows
print(df.shape[0])

3235

In [13]:
query = """
SELECT 
STATE as state
, lpad(STATEFP, 2, '0') as state_fips
, lpad(COUNTYFP, 3, '0') as county_fips
, concat(lpad(STATEFP, 2, '0'), lpad(COUNTYFP, 3, '0')) as fips
, COUNTYNAME as county
FROM df 
"""
county_fips_df = duckdb.query(query).df()
county_fips_df

     state state_fips county_fips   fips             county
0       AL         01         001  01001     Autauga County
1       AL         01         003  01003     Baldwin County
2       AL         01         005  01005     Barbour County
3       AL         01         007  01007        Bibb County
4       AL         01         009  01009      Blount County
...    ...        ...         ...    ...                ...
3230    PR         72         153  72153    Yauco Municipio
3231    UM         74         300  74300     Midway Islands
3232    VI         78         010  78010   St. Croix Island
3233    VI         78         020  78020    St. John Island
3234    VI         78         030  78030  St. Thomas Island

[3235 rows x 5 columns]

In [14]:
county_fips_df.to_csv('../data/county_fips.csv', index=False)